*{
    box-sizing:border-box;
}
header{
    display: inline-block;
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top:0;
    background-color: rgb(15, 185, 15);
}
h1{
    display: inline-block;
    width: 200px;
    padding-left: 150px;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quote{
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 35px 10% 0 0;
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
}
aside{
    display: flex;
    height: 800px;
    min-width: 120px;
    background-color: rgb(218, 218, 218); /* Забезпечимо контрастну барву для видимості */
    border: 2px solid rgb(110, 110, 110);
}
#left{
    flex: 1;
    order: 1;
    display: inline-block;
    position: absolute;
    left: 10px;
    top:110px;
    width: 17%;
    min-height: 538px;
    text-align: center;
}
#lan_list{
    padding-top: 50%;
}
#right{
    flex: 1;
    order: 3;
    display: inline-block;
    position: absolute;
    top: 110px; /* Відстань від верху, рівна висоті header */
    width: 17%; /* Розтягнемо aside на всю ширину */

        min-height: 538px;
    right: 10px;
}
.map{
    position: absolute;
    width:100%;
    bottom: 0;
}
#photo{
    display: inline-block;
    padding: 20px;
    width: 100%;
    top: 17%;
    left: 50%;
}
.main_text{
    top: 30%;
}
.horizontal-menu {
    display: flex;
    justify-content: center; /* Горизонтальне центрування вмісту */
    align-items: center; 
    position: absolute; 
    top: 100px;
    margin-left: auto;
    width: 50%;
    height:50px;
    left: 26%;
    border: 2px solid black;
    list-style-type: none; /* Видаляємо маркери списку */
    padding-inline-start: 0;
}
.horizontal-menu li {
    display: inline;
    margin-right: 20px;
}
.horizontal-menu li:last-child {
    margin-right: 0;
}
.horizontal-menu a {
    text-decoration: none; /* Видаляємо підкреслення посилань */ /* Колір тексту посилань */
    font-weight: bold; /* Жирний шрифт */
}
main{
    flex: 3;
    order: 2;
    display: inline-block;
    width: 50%;
    /*width: 850px;
    left: 18%; */
    margin-top: 180px; /* Замість top використовуйте margin-top */
    margin-left: 18%; /* Замість left використовуйте margin-left */

}
footer{
    background-color: #00063a; /* Змінити фон на світлий */
    color: #dadada; /* Змінити колір тексту на темний */
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}
footer h3{
    display: inline-block;
    right:100px;
}
footer h4{
    display: inline-block;
    left: 50px;
}
